.input-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
