.wrapper {
    position: fixed;
    display: flex;
    bottom: 20px;
    right: 20px;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ece2e2;
    transition: all ease 1s;
    &:hover {
        background: rgb(238, 217, 217);
        scale: (1.2);
    }
}
